[Unit]
Description=PulseAudio System Daemon
Requires=dbus.service
After=dbus.service
 
[Service]
Type=notify
ExecStart=/usr/bin/pulseaudio --system --daemonize=no --no-cpu-limit \
            --disallow-exit=yes --disallow-module-loading=no --disable-shm=yes
ExecStartPost=/bin/mkdir -p /var/run/pulse
ExecStartPost=/bin/chmod 775 /var/run/pulse
ExecStartPost=/bin/chown pulse:pulse-access /var/run/pulse
 
[Install]
WantedBy=multi-user.target
