[Unit]
Description=Teamspeak3 headless client, running under Xvfb
After=network.target pulseaudio.service dbus.service
Requires=pulseaudio.service dbus.service

[Service]
WorkingDirectory=/usr/ts3client/
Type=simple
User=teamspeak
ExecStart=/usr/bin/xvfb-run --server-args='-screen 0 1280x1024x24' /usr/ts3client/ts3client_linux_amd64 "ts3server://cb0saw.ddnss.de?port=9987&nickname=$TS_NICKNAME&channel=[cspacer0]Live/Test 1"
#ExecStartPost=/bin/mkdir -p /var/run/pulse

Environment="SSL_CERT_DIR=/usr/lib/ssl/certs"
Environment="KDEDIRS="
Environment="KDEDIR="
Environment="QTDIR=."
Environment="QT_PLUGIN_PATH=."
Environment="LD_LIBRARY_PATH=.:"

[Install]
WantedBy=multi-user.target
